*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#bg_body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,150,136,1) 15%, rgba(220,219,209,1) 15%);
}

.box{
    height: 90vh;
    width: 80vw;
    margin: 5vh 0;
}

.h_50{
    height: 50px;
}

.chat{
    background-image: url(../img/mine.jpg);
    height: 630px;
    overflow: scroll;
}

.chat-list{
    height: 550px;
    overflow: scroll;
}

.chat-item{
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
    font-size: 12px;
    border-bottom: 1px solid rgb(225, 223, 223);
}

.chat-item:hover{
    background-color: rgb(225, 223, 223);
    cursor: pointer;
}

.chat-item:active{
    background-color: rgb(211, 211, 211);
}


.content{
    padding: 7px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    gap: 7px;
}

.iconsfont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    color: rgb(177,177,177);
}

i{
    font-size: 20px;
}

.info{
    display: flex;
    flex-direction: column;
}

img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.bg_lg{
    background-color: rgb(236, 231, 231);
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg_input{
    background-color: rgb(243,238,234);
}

.bg_sky{
    background-color: rgb(142,218,252);
}

.bell{
    height: 40px;
    width: 40px;
    background-color: white;
    color: rgb(142,218,252);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.iconsfont i:hover{
    color: rgb(1, 101, 91);
    cursor: pointer;
}

.msg-list{
    display: flex;
    flex-direction: column;
}

.msg{
    background-color: white;
    min-height: 50px;
    width: 250px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
}

.sent{
    background-color: rgb(213,249,186);
    align-self: flex-end;
}