*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

#bg_body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,150,136,1) 15%, rgba(220,219,209,1) 15%);
}

.box{
    height: 90vh;
    width: 80vw;
    margin: 5vh 0;
}

.h_50{
    background-color: white;
    height: 50px;
}

.chat{
    background-color: peachpuff;
    height: calc(100% - 100px);
}

.chat-list{
    background-color: pink;
    height: calc(100% - 150px);
}